<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>主页</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="../src/asserts/css/style.css" />
    <link rel="stylesheet" href="../src/asserts/css/bootstrap.css" />
    <link rel="stylesheet" href="../src/asserts/css/swf.css" />
    <link rel="stylesheet" href="../src/asserts/css/link.css" />
    <style>
        .wrap {
            position: relative;
            overflow: hidden;
        }

            .wrap.rwzx-wrap {
                width: 1100px;
                height: 250px;
            }

            .wrap.zhu-wrap {
                width: 300px;
                height: 184px;
            }

            .wrap.rwzx-wrap ul {
                width: 1100px;
            }

                .wrap.rwzx-wrap ul li {
                    width: 163px;
                    height: 250px;
                    padding-left: 10px;
                    padding-right: 10px;
                }

                    .wrap.rwzx-wrap ul li img {
                        width: 163px;
                        height: 200px;
                    }

            .wrap.zhu-wrap ul {
                width: 1100px;
            }

                .wrap.zhu-wrap ul li {
                    width: 92px;
                    height: 160px;
                    padding-left: 6px;
                    padding-right: 6px;
                }

                    .wrap.zhu-wrap ul li .compere-name {
                        text-align: center;
                    }

            .wrap ul {
                overflow: hidden;
                position: absolute;
                left: 0;
                top: 0;
                _height: 1px;
            }

                .wrap ul li {
                    float: left;
                }
    </style>
</head>

<body>
    <div class="swf-header"></div>
    <div class="swf-list">
        <div class="swf-list-1">
            <a class="swf-list-link" href="../home-template1.html">首页</a>
        </div>
        <div class="swf-list-1">
            <a class="swf-list-link" href="aboutus.html">关于栏目</a>
        </div>
        <div class="swf-list-1">
            <a class="swf-list-link" href="people.html">人物咨询</a>
        </div>
        <div class="swf-list-1">
            <a class="swf-list-link" href="news.html">栏目动态</a>
        </div>
        <div class="swf-list-1">
            <a class="swf-list-link" href="tv.html">视频点播</a>
        </div>
        <div class="swf-list-1">
            <a class="swf-list-link" href="host.html">主持人</a>
        </div>
        <div class="swf-list-1">
            <a class="swf-list-link" href="nasdaq.html">今日头条</a>
        </div>
        <div class="swf-list-1">
            <a class="swf-list-link" href="contactus.html">联系我们</a>
        </div>
    </div>
    <div class="swf-second-mid">
        <div class="swf-sec-mid-left">
            <div class="swf-sec-mid-left-title">栏目动态</div>
            <div class="swf-sec-mid-left-info">
                <div class="swf-sec-mid-left-list-3"></div>

                <div class="swf-sec-mid-left-list-2"><a title="侵权声明书" class="swf-news-link" href="news-show.html?id=622" target="_blank">侵权声明书</a></div>

                <div class="swf-sec-mid-left-list-2"><a title="整合资源 诚创共赢 —影响力人物崔润 / 温文斐" class="swf-news-link" href="news-show.html?id=622" target="_blank">整合资源 诚创共赢 —影响力人物崔润 /</a></div>

                <div class="swf-sec-mid-left-list-2"><a title="影响力人物： 冯军——质疑声中的呐喊" class="swf-news-link" href="news-show.html?id=622" target="_blank">影响力人物： 冯军——质疑声中的呐喊</a></div>

                <div class="swf-sec-mid-left-list-2"><a title="影响力人物：夏华——魅力女人" class="swf-news-link" href="news-show.html?id=622" target="_blank">影响力人物：夏华——魅力女人</a></div>

            </div>
        </div>
        <div class="swf-sec-mid-right">
            <div class="swf-second-mid-left-title">人物资讯</div>
            <div class="swf-second-mid-right-info">

                <div class="swf-news-1">
                    <div class="swf-news-1-left"><a title="马云为老师站台星光熠熠 赵薇李连杰韩红那英等人齐上线" href="people-show.asp?id=514" target="_blank"><img width="161" height="200" src="../src/asserts/images/rwzx_01.jpg" border="0"></a></div>
                    <div class="swf-news-1-right">
                        <div class="swf-news-1-right-1"><a class="swf-news-link1" href="people-show.asp?id=514" target="_blank">马云为老师站台星光熠熠 赵薇李连杰韩红那英等人齐上线</a></div>
                        <div class="swf-news-1-right-2">1月5日晚，2016年度马云乡村教师奖颁奖典礼在三亚香格里拉酒店举办。在颁奖盛典上，马云不仅拉来明星朋友，和宋小宝还特别演出了小品，为乡村老师站台。</div>
                        <div class="swf-news-1-right-3">
                            <div class="swf-news-1-right-3-right"><a class="swf-news-link" href="people-show.asp?id=514" target="_blank"><img width="104" height="21" src="../src/asserts/images/more-1.jpg" border="0"></a></div>
                        </div>
                    </div>
                </div>

                <div class="swf-news-1">
                    <div class="swf-news-1-left"><a title="张瑞敏新年致全球创客的一封信：上士闻道，勤而行之" href="people-show.asp?id=513" target="_blank"><img width="161" height="200" src="../src/asserts/images/rwzx_01.jpg" border="0"></a></div>
                    <div class="swf-news-1-right">
                        <div class="swf-news-1-right-1"><a class="swf-news-link1" href="people-show.asp?id=513" target="_blank">张瑞敏新年致全球创客的一封信：上士闻道，勤而行之</a></div>
                        <div class="swf-news-1-right-2">《道德经》有言，上士闻道，勤而行之；中士闻道，若存若亡；下士闻道，大笑之，不笑，不足以为道。</div>
                        <div class="swf-news-1-right-3">
                            <div class="swf-news-1-right-3-right"><a class="swf-news-link" href="people-show.asp?id=513" target="_blank"><img width="104" height="21" src="../src/asserts/images/more-1.jpg" border="0"></a></div>
                        </div>
                    </div>
                </div>

                <div class="swf-news-1">
                    <div class="swf-news-1-left"><a title="冯军：互联网时代不打广告就是等死" href="people-show.asp?id=512" target="_blank"><img width="161" height="200" src="../src/asserts/images/rwzx_01.jpg" border="0"></a></div>
                    <div class="swf-news-1-right">
                        <div class="swf-news-1-right-1"><a class="swf-news-link1" href="people-show.asp?id=512" target="_blank">冯军：互联网时代不打广告就是等死</a></div>
                        <div class="swf-news-1-right-2">新浪财经讯 “第二届中国制造2025高峰论坛暨中国制造十佳品质评选颁奖盛典”于2016年11月13日在北京举行，达沃斯“世界青年领袖”、全国政协委员、爱国者集团董事长冯军出席并发言。</div>
                        <div class="swf-news-1-right-3">
                            <div class="swf-news-1-right-3-right"><a class="swf-news-link" href="people-show.asp?id=512" target="_blank"><img width="104" height="21" src="../src/asserts/images/more-1.jpg" border="0"></a></div>
                        </div>
                    </div>
                </div>

                <div class="swf-news-1">
                    <div class="swf-news-1-left"><a title="董明珠：因家国情怀入股银隆 一个电话拉来王健林5个亿投资" href="people-show.asp?id=511" target="_blank"><img width="161" height="200" src="../src/asserts/images/rwzx_01.jpg" border="0"></a></div>
                    <div class="swf-news-1-right">
                        <div class="swf-news-1-right-1"><a class="swf-news-link1" href="people-show.asp?id=511" target="_blank">董明珠：因家国情怀入股银隆 一个电话拉来王健林5个亿投资</a></div>
                        <div class="swf-news-1-right-2">【观察者网综合】格力电器董事长董明珠近来话题不断，先是股东大会发飙，随后收购珠海银隆失败，最后拉上王健林、刘强东入股银隆，俨然成为网红。而在最近接受央视财经采访时，董明珠透露出她为何坚持入股银隆，又是如何拉王健林入股的。</div>
                        <div class="swf-news-1-right-3">
                            <div class="swf-news-1-right-3-right"><a class="swf-news-link" href="people-show.asp?id=511" target="_blank"><img width="104" height="21" src="../src/asserts/images/more-1.jpg" border="0"></a></div>
                        </div>
                    </div>
                </div>

                <div class="swf-news-1">
                    <div class="swf-news-1-left"><a title="中国职业足球联盟即将成立，许家印王健林谁会当主席？" href="people-show.asp?id=510" target="_blank"><img width="161" height="200" src="../src/asserts/images/rwzx_01.jpg" border="0"></a></div>
                    <div class="swf-news-1-right">
                        <div class="swf-news-1-right-1"><a class="swf-news-link1" href="people-show.asp?id=510" target="_blank">中国职业足球联盟即将成立，许家印王健林谁会当主席？</a></div>
                        <div class="swf-news-1-right-2">　中国足协职业联赛理事会执行局局长马成全今天表示，如果程序和审批比较顺利，中国足球职业联盟于2月底或3月初就能够成立，从目前情况看，王健林与许家印竞选联盟主席的可能性非常大。</div>
                        <div class="swf-news-1-right-3">
                            <div class="swf-news-1-right-3-right"><a class="swf-news-link" href="people-show.asp?id=510" target="_blank"><img width="104" height="21" src="../src/asserts/images/more-1.jpg" border="0"></a></div>
                        </div>
                    </div>
                </div>

                <div class="page">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <form onsubmit="document.location = 'http://www.yxlrw.net.cn/people.asp?Page='+ this.page.value;return false;" method="get"></form>
                        <tbody>
                            <tr>
                                <td align="left" class="hui">
                                    <p align="center">
                                        首页
                                        上一页
                                        <a href="http://www.yxlrw.net.cn/people.asp?Page=2">下一页</a>
                                        <a href="http://www.yxlrw.net.cn/people.asp?Page=2">尾页</a>
                                        页次：1/2页
                                        共6条记录
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="swf-footer">
        Copyright © 2010 - 2017
        <a class="bottom-link" href="http://www.yxlrw.net.cn">yxlrw.net.cn</a>, All Rights Reserved. Web designed by
        <a class="bottom-link" href="http://www.outeweb.com">outeweb.com</a>
        <br> 发现之旅频道《影响力人物》栏目组 © 版权所有
        <br> 京ICP备17006399号
        <br>
    </div>
    <script src="../src/asserts/js/jquery-2.1.1.js"></script>
    <script src="../src/asserts/js/bootstrap.js"></script>
    <script>
        $(function () {
            ImgSlider('.rwzx-wrap', 10);
            ImgSlider('.zhu-wrap', 6);
        });

        function ImgSlider(el, pdwidth) {
            var oul = $(el + ' ul');
            var oulHtml = oul.html();
            oul.html(oulHtml + oulHtml)
            var timeId = null;

            var ali = $(el + ' ul li');
            var aliWidth = ali.eq(0).width() + pdwidth * 2;
            var aliSize = ali.size();
            var ulWidth = aliWidth * aliSize;
            oul.width(ulWidth);

            var speed = -2;

            function slider() {

                if (speed < 0) {
                    if (oul.css('left') == -ulWidth / 2 + 'px') {
                        oul.css('left', 0);
                    }
                    oul.css('left', '+=-2px');
                }

                if (speed > 0) {
                    if (oul.css('left') == '0px') {
                        oul.css('left', -ulWidth / 2 + 'px');
                    }
                    oul.css('left', '+=' + speed + 'px');
                }

            }

            // setInterval()函数的作用是：每隔一段时间，执行该函数里的代码
            timeId = setInterval(slider, 30);
            $(el).mouseover(function () {
                // clearInterval()函数的作用是用来清除定时器
                clearInterval(timeId);
            });

            $(el).mouseout(function () {
                timeId = setInterval(slider, 30);
            });
        }
    </script>
</body>

</html>