a.swf-list-link:link {
    text-decoration: none;
    color: #FFFFFF;
}

a.swf-list-link:visited {
    text-decoration: none;
    color: #FFFFFF;
}

a.swf-list-link:hover {
    text-decoration: none;
    color: #FFFFFF;
}

a.swf-list-link:active {
    text-decoration: none;
    color: #FFFFFF;
}

a.top-link:link {
    text-decoration: none;
    color: #000000;
}

a.top-link:visited {
    text-decoration: none;
    color: #000000;
}

a.top-link:hover {
    text-decoration: none;
    color: #ffffff;
}

a.top-link:active {
    text-decoration: none;
    color: #ffffff;
}

a.news-link:link {
    text-decoration: none;
    color: #000000;
}

a.news-link:visited {
    text-decoration: none;
    color: #000000;
}

a.news-link:hover {
    text-decoration: none;
    color: #000000;
}

a.news-link:active {
    text-decoration: none;
    color: #000000;
}

a.news-link1:link {
    text-decoration: none;
    color: #335075;
}

a.news-link1:visited {
    text-decoration: none;
    color: #335075;
}

a.news-link1:hover {
    text-decoration: none;
    color: #000000;
}

a.news-link1:active {
    text-decoration: none;
    color: #335075;
}

a.left-link:link {
    text-decoration: none;
    color: #000000;
}

a.left-link:visited {
    text-decoration: none;
    color: #000000;
}

a.left-link:hover {
    text-decoration: none;
    color: #000000;
}

a.left-link:active {
    text-decoration: none;
    color: #000000;
}


a.list-link1:link {
    text-decoration: none;
    color: #B2DFFF;
}

a.list-link1:visited {
    text-decoration: none;
    color: #B2DFFF;
}

a.list-link1:hover {
    text-decoration: none;
    color: #ffffff;
}

a.list-link1:active {
    text-decoration: none;
    color: #B2DFFF;
}

a.more-link:link {
    text-decoration: none;
    color: #E81048;
}

a.more-link:visited {
    text-decoration: none;
    color: #E81048;
}

a.more-link:hover {
    text-decoration: none;
    color: #000000;
}

a.more-link:active {
    text-decoration: none;
    color: #E81048;
}

a.more-link1:link {
    text-decoration: none;
    color: #ffffff;
}

a.more-link1:visited {
    text-decoration: none;
    color: #ffffff;
}

a.more-link1:hover {
    text-decoration: none;
    color: #000000;
}

a.more-link1:active {
    text-decoration: none;
    color: #ffffff;
}

a.bottom-link:link {
    text-decoration: none;
    color: #cccccc;
}

a.bottom-link:visited {
    text-decoration: none;
    color: #cccccc;
}

a.bottom-link:hover {
    text-decoration: underline;
    color: #ffffff;
}

a.bottom-link:active {
    text-decoration: none;
    color: #cccccc;
}


a.index-news-link:link {
    text-decoration: none;
    color: #122E67;
}

a.index-news-link:visited {
    text-decoration: none;
    color: #122E67;
}

a.index-news-link:hover {
    text-decoration: none;
    color: #000000;
}

a.index-news-link:active {
    text-decoration: none;
    color: #122E67;
}

a:link {
    color: #777777;
    text-decoration: none;
}

a:visited {
    color: #777777;
    text-decoration: none;
}

a:hover {
    color: #777777;
    text-decoration: none;
}

a:active {
    color: #777777;
    text-decoration: none;
}
